# Maven Slopes Challenge

## Importing libraries

In [1]:
import pandas as pd
import pandasql as ps
from pandasql import sqldf

## Importing datasets

In [2]:
data_dictionary = pd.read_csv(r"./Ski-Resorts/data_dictionary.csv", encoding='cp1252')
resorts = pd.read_csv(r".\Ski-Resorts\resorts.csv", encoding='cp1252')
snow = pd.read_csv(r"./Ski-Resorts/snow.csv")

## Exploring datasets

### Data Dictionary

In [3]:
data_dictionary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table        29 non-null     object
 1   Field        29 non-null     object
 2   Description  29 non-null     object
dtypes: object(3)
memory usage: 824.0+ bytes

In [4]:
data_dictionary.isna().sum()

Table          0
Field          0
Description    0
dtype: int64

In [5]:
data_dictionary.duplicated().sum()

0

In [6]:
data_dictionary.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [7]:
data_dictionary["Table"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29 entries, 0 to 28
Series name: Table
Non-Null Count  Dtype
--------------  -----
29 non-null     object
dtypes: object(1)
memory usage: 360.0+ bytes

In [18]:
data_dictionary.rename(columns={"Table":"table_name"},inplace=True)

In [19]:
sqldf("select table_name, Description from data_dictionary")

   table_name                                        Description
0     Resorts                  Unique identifier for each resort
1     Resorts                 Name of the ski & snowboard resort
2     Resorts                 Latitude for the resort's location
3     Resorts                Longitude for the resort's location
4     Resorts             Country in which the resort is located
5     Resorts           Continent in which the resort is located
6     Resorts  Ski pass cost for 1 adult for 1 day in the mai...
7     Resorts  Normal start and end of the ski season at the ...
8     Resorts      Highest mountain point at the resort (meters)
9     Resorts  Lowest possible point to ski at the resort (me...
10    Resorts  Total length of "children", "blue", and "green...
11    Resorts    Total length of "red" slopes at the resort (km)
12    Resorts  Total length of "black", "advanced", and "expe...
13    Resorts          Total length of slopes at the resort (km)
14    Resorts  Longest possible continuous run at the ski res...
15    Resorts         Total amount of snow cannons at the resort
16    Resorts  Total number of surface lifts, including T-bar...
17    Resorts                        Total number of chair lifts
18    Resorts  Total number of gondola lifts, including Gondo...
19    Resorts                              Total number of lifts
20    Resorts  Number of passengers the resort's lift system ...
21    Resorts                  Is the ski resort child friendly?
22    Resorts        Does the resort have one or more snowparks?
23    Resorts  Does the resort offer skiing on illuminated sl...
24    Resorts    Does the resort offer skiing during the summer?
25       Snow  Date to represent the month of the year (not j...
26       Snow  Latitude at the center of the region (every "r...
27       Snow  Longitude at the center of the region (every "...
28       Snow  Percent of time the region was covered in snow...

### Resorts

In [9]:
resorts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   499 non-null    int64
 1   Resort               499 non-null    object
 2   Latitude             499 non-null    float64
 3   Longitude            499 non-null    float64
 4   Country              499 non-null    object
 5   Continent            499 non-null    object
 6   Price                499 non-null    int64
 7   Season               499 non-null    object
 8   Highest point        499 non-null    int64
 9   Lowest point         499 non-null    int64
 10  Beginner slopes      499 non-null    int64
 11  Intermediate slopes  499 non-null    int64
 12  Difficult slopes     499 non-null    int64
 13  Total slopes         499 non-null    int64
 14  Longest run          499 non-null    int64
 15  Snow cannons         499 non-null    int64
 16  Surface lifts        499 non-null    int64
 17  Chair lifts          499 non-null    int64
 18  Gondola lifts        499 non-null    int64
 19  Total lifts          499 non-null    int64
 20  Lift capacity        499 non-null    int64
 21  Child friendly       499 non-null    object
 22  Snowparks            499 non-null    object
 23  Nightskiing          499 non-null    object
 24  Summer skiing        499 non-null    object
dtypes: float64(2), int64(15), object(8)
memory usage: 97.6+ KB

In [13]:
sqldf("select longitude from resorts")

      Longitude
0      8.383487
1      8.206372
2      9.828167
3   -117.846280
4     10.529014
..          ...
494    2.108883
495   11.228630
496   10.927998
497   15.789964
498  -70.625986

[499 rows x 1 columns]

In [ ]:
resorts["Child friendly"].unique()

In [ ]:
resorts.isna().sum()

In [ ]:
resorts.duplicated().sum()

### Snow

In [ ]:
snow.info()

In [ ]:
snow.isna().sum()

In [ ]:
snow.duplicated().sum()

## Checking similarities

In [ ]:
len(resorts["Longitude"])

In [ ]:
len(resorts["Longitude"].unique())

In [ ]:
len(snow["Longitude"])

In [ ]:
len(snow["Longitude"].unique())

## Preparing data for merging